<% wrap_layout :layout do %>
<article id="post">
  <header>
    <h1 itemprop="name"><%= current_page.title %></h1>
    <div id="meta">
      <div class="post-date"><%= current_page.date.strftime("%b %d, %Y") %></div>
    </div>
  </header>

  <div id="content">
    <%= yield %>
  </div>

  <footer>
    <div id="other-articles">
      <h2>Recent Articles</h2>

      <ul class="posts">
	<% page_articles.find_all{|x| !x.data.archive && x.url != current_page.url}[0..6].each_with_index do |article, i| %>	
	<li> 
	  <time datetime="<%= article.date.strftime("%Y-%m-%d") %>">
	    <%= article.date.strftime("%Y-%m-%d") %> &raquo;
	  </time>
	  <a href="<%= article.url %>" rel="prefetch related"><%= article.title %></a>
	</li>      
	<% end %>
      </ul>
    </div>

    <div id="contributions">
      <div id="disqus_thread"></div>
      <script type="text/javascript">	
	var disqus_shortname = 'alexnorg';
	var disqus_url = '<%= @website.id + current_page.url %>';

	/* * * DON'T EDIT BELOW THIS LINE * * */
	(function() {
	var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
	(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
  </footer>
</article>
<% end %>
