<% wrap_layout :layout do %>
<article id="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="headline"><%= current_page.title %></h1>

    <div id="meta">
      <meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="<%= website.root_url %><%= current_page.url %>"/>
      <meta itemprop="datePublished" content="<%= current_page.date.strftime('%Y-%m-%d') %>"/>
      <meta itemprop="dateModified" content="<%= current_page.date.strftime('%Y-%m-%d') %>"/>

      <time class="post-date" itemprop="dateCreated" datetime="<%= current_page.date.strftime('%Y-%m-%d') %>">
        <%= current_page.date.strftime("%b %d, %Y") %>
      </time>

      <span class="twitter-link">
        • <a href="https://twitter.com/alexelcu">@alexelcu</a>
      </span>

      <% with_image_url(current_article.body, true) do |image_url, width, height| %>
        <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
          <meta itemprop="url" content="<%= image_url %>">
          <% if width %><meta itemprop="width" content="<%= width %>"><% end %>
          <% if height %><meta itemprop="height" content="<%= height %>"><% end %>
        </div>
      <% end %>

      <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <meta itemprop="name" content="Alexandru Nedelcu">
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
          <meta itemprop="url" content="<%= website.root_url %>/assets/img/alex-big-version-72ppi.jpg">
          <meta itemprop="width" content="585">
          <meta itemprop="height" content="585">
        </div>
      </div>
    </div>
  </header>

  <div id="content" itemprop="articleBody">
    <%= yield %>

    <div class="authorship" itemprop="author" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="name" content="Alexandru Nedelcu">
      Written by <a href="https://alexn.org/about.html" itemprop="url" rel="author">
        Alexandru Nedelcu</a> |
      <a href="https://twitter.com/alexelcu" itemprop="url" rel="author">
        Twitter</a> |
      <a href="https://github.com/alexandru" itemprop="url" rel="author">
        GitHub</a>
    </div>
  </div>

  <footer>
    <div id="other-articles">
      <h2>Recent Articles</h2>

      <ul class="posts">
      	<% page_articles.find_all{|x| !x.data.archive && x.url != current_page.url}[0..6].each_with_index do |article, i| %>
      	<li>
      	  <time datetime="<%= article.date.strftime("%Y-%m-%d") %>">
      	    <%= article.date.strftime("%Y-%m-%d") %> &raquo;
      	  </time>
      	  <a href="<%= article.url %>" rel="prefetch related"><%= article.title %></a>
      	</li>
      	<% end %>
      </ul>
    </div>

    <div id="contributions">
      <script data-isso="/comments/"
        data-isso-css="true"
        data-isso-lang="en"
        data-isso-reply-to-self="false"
        data-isso-require-author="true"
        data-isso-require-email="false"
        data-isso-max-comments-top="10"
        data-isso-max-comments-nested="5"
        data-isso-reveal-on-click="5"
        data-isso-avatar="true"
        data-isso-avatar-bg="#f0f0f0"
        data-isso-avatar-fg="#9abf88 #5698c4 #e279a3 #9163b6 ..."
        data-isso-vote="true"
        data-vote-levels=""        
        src="//<%= website.hostname %>/comments/js/embed.min.js"></script>

      <section id="isso-thread" data-title="<%= current_page.data.title %>">
      </section>
    </div>
  </footer>
</article>
<% end %>
