<% wrap_layout :layout do %>
<article id="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="name"><%= current_page.title %></h1>

    <div id="meta">
      <time class="post-date" itemprop="dateCreated" datetime="<%= current_page.date.strftime('%Y-%m-%d') %>"><%= current_page.date.strftime("%b %d, %Y") %></time>
    </div>
  </header>

  <div id="content" itemprop="articleBody">
    <%= yield %>

    <div class="authorship" itemprop="author" itemscope itemtype="http://schema.org/Person">
      Written by <a href="https://www.bionicspirit.com/pages/about.html" itemprop="url" rel="author">Alexandru Nedelcu</a>
    </div>
  </div>

  <footer>
    <div id="other-articles">
      <h2>Recent Articles</h2>

      <ul class="posts">
      	<% page_articles.find_all{|x| !x.data.archive && x.url != current_page.url}[0..6].each_with_index do |article, i| %>
      	<li>
      	  <time datetime="<%= article.date.strftime("%Y-%m-%d") %>">
      	    <%= article.date.strftime("%Y-%m-%d") %> &raquo;
      	  </time>
      	  <a href="<%= article.url %>" rel="prefetch related"><%= article.title %></a>
      	</li>
      	<% end %>
      </ul>
    </div>

    <!-- Disabling Disqus due to privacy concerns, thinking of an alternative -->
    <!--
    <div id="contributions">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
    	var disqus_shortname = 'alexnorg';
    	var disqus_url = '<%= @website.id + current_page.url %>';

    	/* * * DON'T EDIT BELOW THIS LINE * * */
    	(function() {
    	var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    	dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
    	(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    	})();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
    -->
  </footer>
</article>
<% end %>
