---
image: /assets/img/alex-nedelcu-800-square.jpg
---

<article id="home">
  <%= image_tag "logo.png", :width => "150", :id => "picture",
    :class => "right", :alt => "Logo", :itemprop => "primaryImageOfPage" %>

  <h2>Articles</h2>

  <ol class="posts">
    <% page_articles.each_with_index do |article, i| %>
    <li>
      <time datetime="<%= article.date.strftime("%Y-%m-%d") %>">
         <%= article.date.strftime("%Y-%m-%d") %> &raquo;
      </time>
      <a href="<%= article.url %>" rel="prefetch related" itemprop="relatedLink">
        <%= article.title %>
      </a>
    </li>
    <% end %>
  </ol>

  <h2>Noteworthy Projects</h2>

  <ul class="bullets">
    <li>
      <a itemprop="relatedLink" href="https://monix.io">Monix</a>: asynchronous programming for Scala and Scala.js
    </li>
    <li>
      <a itemprop="relatedLink" href="https://funfix.org">Funfix</a>: functional programming for JavaScript, TypeScript and Flow
    </li>
    <li>
      <a itemprop="relatedLink" href="https://github.com/alexandru/scala-best-practices">Scala Best Practices</a>:
      an open effort to establish the standard
    </li>
  </ul>
</article>
