---
pageable: true
per_page: 12
---
<article id="tags">

<h1>Articles tagged '<%= tagname %>'</h1>

<% if paginate %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<ol class="posts">
  <% page_articles.each_with_index do |article, i| %>
    <li> 
      <time datetime="<%= article.date.strftime("%Y-%m-%d") %>">
	<%= article.date.strftime("%Y-%m-%d") %> &raquo;
      </time>
      <a href="<%= article.url %>" rel="prefetch related"><%= article.title %></a>
    </li>      
  <% end %>
</ol>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>

</article>